extends layout

block styles
	link(rel='stylesheet', href='components/bootstrap/less/bootstrap.css')
	link(rel='stylesheet', href='components/angular-ui/build/angular-ui.css')
	link(rel='stylesheet', href='css/app.css')

block content
	div.page-header
		h1 Hello
		p.lead This is a subtitle.
	div(ui-view)

block scripts
	for name in bundles.emit('js/app-bundle.js')
		script(src='/#{name}')