doctype html
html(lang='en', ng-app='myApp')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title My AngularJS App
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		script(src='js/appInsights.js')
		block styles

	body
		include ./navbar.jade
		div.container
			div.row
				div.col-md-12
					block content
		include ./footer.jade

		for name in bundles.emit('js/bundle.js')
			script(src='/#{name}')
		block scripts