nav.navbar.navbar-default
	.container
		.navbar-header
			a.navbar-brand(ui-sref='home') dev+
		ul.nav.navbar-nav
			li(ui-sref-active='active'): a(ui-sref='about') about
			li(ui-sref-active='active'): a(ui-sref='todo') todo