nav.navbar.navbar-default
    .container-fluid
        .navbar-header
          a.navbar-brand Devplus
        ul.nav.navbar-nav
          li: a(ui-sref='state1') Page 1
          li: a(ui-sref='state2') Page 2