nav.navbar.navbar-default
    .container
        .navbar-header
          a.navbar-brand(ui-sref='home') Devplus
        ul.nav.navbar-nav
          li(ui-sref-active='active'): a(ui-sref='home') Home
          li(ui-sref-active='active'): a(ui-sref='about') About