---
import Layout from '../layouts/Layout.astro';
---

<Layout>
<h1>Devplus</h1>
<p>Where I do things with stuff.</p>
</Layout>

<style>
  h1 {
    font-family: Pacifico, cursive;
    font-size: 100px;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  p {
    font-size: 21px;
  }
</style>
